<ion-view title="About Public Market Guide" class="aboutView">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>


    <ion-content padding="false">
        <img src="img/public-market-banner.jpg" class="market-banner">

        <div class="padding">
            <h4 class="bordered-bottom">About the Public Market Guide:<br>Monroe County Edition</h4>
            <p>
                This phone application has been prepared by Nick Evevsky and Peter Traeg for the 2014 AT&T Rochester Civic App Challenge.
            </p>

            <img src="img/att-civic.png" class="full-image"/>

            <p>
                Special thanks go to the City of Rochester, NY Public Market Office and the Friends of the Rochester, NY Public Market.
            </p>

            <p>
                The software developed for this application is Open Source under the MIT license and is allowed to be freely used, modified, and shared.
            </p>

            <p ng-click="browseUrl('http://ptraeg.github.io/publicmarketguide/')">
                For more information about this app, visit <a href="">http://ptraeg.github.io/publicmarketguide/</a>
            </p>

        </div>

    </ion-content>
</ion-view>
