<?xml version='1.0' encoding='utf-8'?>
<widget id="org.traeg.publicmarketguide" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Public Market Guide</name>
    <description>
        Rochester Public Market App
    </description>
    <author email="ptraeg@gmail.com" href="http://traeg.org/">
        Nick Evevsky and Peter Traeg
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="SplashScreen" value="splash"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
